<!DOCTYPE html>
<html lang="zh-CN">

{% include head.html %}

<!-- hack iOS CSS :active style -->
<body ontouchstart="" id="top">

    <p id="back-to-top"><a href="#top"><span></span></a></p>

    {% include nav.html %}
    {% include search.html %}

    {{ content }}

    {% include footer.html %}

    {% include back2top.html %}


<!-- Image to hack wechat -->
<img src="/img/icon_wechat.png" width="0" height="0" />
<!-- Migrate from head to bottom, no longer block render and still work -->

</body>

</html>
